$mycolor:#05253C;
$font-familyman: 'manrope';
$font-familyplus: 'Plus Jakarta Sans';
$logo-image:'../Images/logo.png';
$margin-left: 139px;
$myOpacity:1;
$label-bottom: 15px;
$placeholder-bottom: 35px;
$page-height: 768px;
$button-background:#FFDC47;

/*---reseting the default browser styles---*/
body{
    margin:0;
    padding:0;
}

/*----defining mixin for the images---------*/
@mixin image-properties($width, $height, $image-path){
    background: transparent url($image-path) 0% 0% no-repeat padding-box;
    width:$width;
    height:$height;
   
}

/*-----defining mixin for the headers and labels-----**/
@mixin text-properties($font-size, $font-weight, $font-family, $line-height) {
    font-size: $font-size;
    font-style: normal;
    font-variant: normal;
    font-weight: $font-weight;
    font-family: $font-family;
    line-height: $line-height;
    text-align: left;
    margin-left: $margin-left;
    color: $mycolor;
    letter-spacing: 0px;
    opacity: $myOpacity;
}


/*---defining mixin for the border properties-----*/
@mixin boarder-properties{
    border:none;
    border-bottom: 1px solid #EBEBEB;
    opacity: $myOpacity;
    width: 444px;
}


/*------styling the full page-------------*/
.page_container{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: $page-height;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: $myOpacity;
    display:flex;
    flex-direction: row;
}


/*----styling the conatiner of the form----*/
.form_conatiner{
    width: 783px;
    height: $page-height;
}


/*-----styling the logo in the form_container----*/
.Logo {
    @include image-properties(76px, 76px , $logo-image);
    margin-top: 81px;
    margin-bottom: 31px;
    margin-left: $margin-left;
}


/*------styling the header of the page-----*/
.page_header{
    @include text-properties(40px, 200, $font-familyman, 52px);
   margin-bottom: 30px;
}


/*--------styling the labels------*/
.form_questions{
    @include text-properties(16px, medium, $font-familyplus, 28px);  
    margin-bottom:  $label-bottom; 
}


/*--------styling email and Address labels---------*/
.form_questions_different{
    @extend .form_questions;
    $label-bottom: 18px;
    margin-bottom: $label-bottom; 
}


/*-------styling the placeholders and the borders-----*/
.form_inputs{
    @include text-properties(12px, medium, $font-familyplus, 24px);
    @include boarder-properties;
    margin-bottom:$placeholder-bottom;

    &::placeholder {
        color: #DBDBDB;
        background-color: transparent; // Change the placeholder text color
    } 
}


/*--------email input with error message--------- */
.form_inputs.error {
    margin-bottom: 10px;
}

/* Add hover effect for placeholder */
#myform {
    input {
      &::placeholder {
        transition: top 0.3s, font-size 0.3s;
      }
  
      &:hover::placeholder {
        top: -10px;
        font-size: 14px;
      }
    }
  }
  



/*-----styling the error message shown for invalid email----*/
.error-message{
    @include text-properties(12px, medium, $font-familyplus, 24px);
    $mycolor: #FF0000;
    color: $mycolor;
    $margin-left:464px;
    margin-left: $margin-left;
    display: none; /* Initially hide the error message */
}


/*--------styling the submit button---------*/
.button{
    @include text-properties(16px, 600, $font-familyplus, 32px);
    background: $button-background 0% 0% no-repeat padding-box;
    padding:12px 56px 12px 56px ;
    margin-top: 20px;
    margin-bottom: 80px;
    border:none;
    cursor:pointer;
    transition: all 0.6s ease-in-out;

    &:hover {
        background: $mycolor; // Button background color on hover
        color:#FFFFFF;
    }
}


/*-------styling the image container-----------*/
.image_conatiner{
    width: 583px;
    height:$page-height;
}


/*------styling the page image--------*/
.page_img{
    @include image-properties(583px, 768px , '../Images/jordan.png');
    background-size: cover; 
}

//  Adding Media query for mobile and tablet view 
@media screen and (max-width: 1024px) {
    
    @mixin boarder-properties{
        width:400px;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .page_container{
        width:100%;
        $page-height:auto;
        height: $page-height;
    }
    
   .form_conatiner{
        width: 45%;
        $page-height:100vh;
        height:$page-height;
        
    }

    .Logo{     
        margin-top: 45px;
        margin-bottom: 20px;
        $margin-left:100px;
        margin-left: $margin-left;
    }

    .page_header{
        @include text-properties(35px, 200, $font-familyman, 31px);
        margin-bottom: 25px;
        $margin-left:100px;
        margin-left: $margin-left;
    }

    .form_questions{
        @include text-properties(15px, medium, $font-familyplus, 28px);    
        $margin-left:100px;
        margin-left: $margin-left;
    }

    .form_inputs{
        @include text-properties(11px, medium, $font-familyplus, 24px);
        @include boarder-properties;
        $placeholder-bottom:30px;
        margin-bottom:$placeholder-bottom;
        $margin-left:100px;
        margin-left: $margin-left;
    }

    .form_inputs.error {
        margin-bottom: 15px;
    }

  

    .error-message{
        @include text-properties(10px, medium, $font-familyplus, 24px);
        $mycolor: #FF0000;
        color: $mycolor;
        $margin-left:400px;
        margin-left: $margin-left;    
    }

    .button{
        @include text-properties(18px, 600, $font-familyplus, 30px);
        padding:12px 50px 12px 50px ;
        margin-top: 18px;
        margin-bottom: 15px;
        cursor:pointer;
        transition: all 0.6s ease-in-out;
        $margin-left:100px;
        margin-left: $margin-left;
    }
    
    .image_conatiner{
        width: 560px;
        $page-height:100vh;
        height:$page-height;
    }

    .page_img{
        @include image-properties(460px, 650px , '../Images/jordan.png');
        background-size: cover; 
    }    
  }


  
  @media screen and (max-width: 768px){
    @mixin boarder-properties{
        width:470px;
    }

    .page_container{
        flex-direction: column;
    }

    .form_conatiner{
        width: 100%;
        
    }

    .Logo{     
        margin-top: 42px;
        margin-bottom: 27px;
    }

    .page_header{
        @include text-properties(40px, 200, $font-familyman, 30px);
        margin-bottom: 25px;
        $margin-left: 100px;
        margin-left: $margin-left;
    }

    .form_questions{
        @include text-properties(17px, medium, $font-familyplus, 28px);    
        $margin-left: 100px !global;
        margin-left: $margin-left;
    }

    .form_inputs{
        @include text-properties(12px, medium, $font-familyplus, 24px);
        @include boarder-properties;
        $margin-left: 100px;
        margin-left: $margin-left;       
    }

    .error-message{
        @include text-properties(12px, medium, $font-familyplus, 24px);
        $mycolor: #FF0000;
        color: $mycolor;
        $margin-left:470px;
        margin-left: $margin-left;    
    }

    .button{
        @include text-properties(20px, 600, $font-familyplus, 32px);
        padding:12px 45px 12px 45px ;
        cursor:pointer;
        transition: all 0.6s ease-in-out;
        $margin-left: 100px;
        margin-left: $margin-left;

        &:hover {
            background: $mycolor; 
            color:#FFFFFF;
        }
    }

    .image_conatiner{
        display: none;
    }
  }


  @media screen and (max-width: 590px){
    @mixin boarder-properties{
        width:380px;
    }

    .Logo{     
        margin-top: 40px;
        margin-bottom: 27px;
    }

    .page_header{
        @include text-properties(40px, 200, $font-familyman, 28px);
        margin-bottom: 25px;
    }

    .form_questions{
        @include text-properties(15px, medium, $font-familyplus, 27px);    
    }

    .form_inputs{
        @include text-properties(11px, medium, $font-familyplus, 24px);
        @include boarder-properties;       
    }

    .error-message{
        @include text-properties(11px, medium, $font-familyplus, 24px);
        $mycolor: #FF0000;
        color: $mycolor;
        $margin-left:380px;
        margin-left: $margin-left;    
    }
    .button{
        @include text-properties(20px, 600, $font-familyplus, 32px);
        padding:10px 35px 10px 35px ;
        cursor:pointer;
        transition: all 0.6s ease-in-out;
    }
  }
  
  @media screen and (max-width: 523px){
    @mixin boarder-properties{
        width:250px;
    }

    .page_header{
        @include text-properties(35px, 200, $font-familyman, 28px);
        margin-bottom: 25px;
    }

    .form_inputs{
        @include text-properties(11px, medium, $font-familyplus, 24px);
        @include boarder-properties;  
        $margin-left: 100px !global;
        margin-left: $margin-left;        
    }

    .error-message{
        @include text-properties(11px, medium, $font-familyplus, 24px);
        $mycolor: #FF0000;
        color: $mycolor;
        $margin-left:250px;
        margin-left: $margin-left;    
    }
}

