/*---reseting the default browser styles---*/
body {
  margin: 0;
  padding: 0;
}

/*----defining mixin for the images---------*/
/*-----defining mixin for the headers and labels-----**/
/*---defining mixin for the border properties-----*/
/*------styling the full page-------------*/
.page_container {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 768px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  flex-direction: row;
}

/*----styling the conatiner of the form----*/
.form_conatiner {
  width: 783px;
  height: 768px;
}

/*-----styling the logo in the form_container----*/
.Logo {
  background: transparent url("../Images/logo.png") 0% 0% no-repeat padding-box;
  width: 76px;
  height: 76px;
  margin-top: 81px;
  margin-bottom: 31px;
  margin-left: 139px;
}

/*------styling the header of the page-----*/
.page_header {
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  font-family: "manrope";
  line-height: 52px;
  text-align: left;
  margin-left: 139px;
  color: #05253C;
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 30px;
}

/*--------styling the labels------*/
.form_questions, .form_questions_different {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: "Plus Jakarta Sans";
  line-height: 28px;
  text-align: left;
  margin-left: 139px;
  color: #05253C;
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 15px;
}

/*--------styling email and Address labels---------*/
.form_questions_different {
  margin-bottom: 18px;
}

/*-------styling the placeholders and the borders-----*/
.form_inputs {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: "Plus Jakarta Sans";
  line-height: 24px;
  text-align: left;
  margin-left: 139px;
  color: #05253C;
  letter-spacing: 0px;
  opacity: 1;
  border: none;
  border-bottom: 1px solid #EBEBEB;
  opacity: 1;
  width: 444px;
  margin-bottom: 35px;
}
.form_inputs::placeholder {
  color: #DBDBDB;
  background-color: transparent;
}

/*--------email input with error message--------- */
.form_inputs.error {
  margin-bottom: 10px;
}

/* Add hover effect for placeholder */
#myform input::placeholder {
  transition: top 0.3s, font-size 0.3s;
}
#myform input:hover::placeholder {
  top: -10px;
  font-size: 14px;
}

/*-----styling the error message shown for invalid email----*/
.error-message {
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: medium;
  font-family: "Plus Jakarta Sans";
  line-height: 24px;
  text-align: left;
  margin-left: 139px;
  color: #05253C;
  letter-spacing: 0px;
  opacity: 1;
  color: #FF0000;
  margin-left: 464px;
  display: none; /* Initially hide the error message */
}

/*--------styling the submit button---------*/
.button {
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  font-family: "Plus Jakarta Sans";
  line-height: 32px;
  text-align: left;
  margin-left: 139px;
  color: #05253C;
  letter-spacing: 0px;
  opacity: 1;
  background: #FFDC47 0% 0% no-repeat padding-box;
  padding: 12px 56px 12px 56px;
  margin-top: 20px;
  margin-bottom: 80px;
  border: none;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}
.button:hover {
  background: #05253C;
  color: #FFFFFF;
}

/*-------styling the image container-----------*/
.image_conatiner {
  width: 583px;
  height: 768px;
}

/*------styling the page image--------*/
.page_img {
  background: transparent url("../Images/jordan.png") 0% 0% no-repeat padding-box;
  width: 583px;
  height: 768px;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .page_container {
    height: 100vh;
  }
  .form_conatiner {
    width: 80%;
    height: 100vh;
  }
  .Logo {
    margin-top: 45px;
    margin-bottom: 20px;
  }
  .page_header {
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-family: "manrope";
    line-height: 31px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 25px;
  }
  .form_questions, .form_questions_different {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 28px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
  }
  .form_inputs {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    width: 400px;
    margin-bottom: 30px;
  }
  .form_inputs.error {
    margin-bottom: 5px;
  }
  .error-message {
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    color: #FF0000;
    margin-left: 400px;
  }
  .button {
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    line-height: 30px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    padding: 12px 50px 12px 50px;
    margin-top: 18px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
  }
  .image_conatiner {
    width: 450px;
    height: 100vh;
  }
  .page_img {
    background: transparent url("../Images/jordan.png") 0% 0% no-repeat padding-box;
    width: 450px;
    height: 650px;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .page_container {
    flex-direction: column;
  }
  .form_conatiner {
    width: 100%;
  }
  .Logo {
    margin-top: 42px;
    margin-bottom: 27px;
  }
  .page_header {
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-family: "manrope";
    line-height: 30px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 25px;
  }
  .form_questions, .form_questions_different {
    font-size: 17px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 28px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
  }
  .form_inputs {
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    width: 470px;
  }
  .error-message {
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    color: #FF0000;
    margin-left: 470px;
  }
  .button {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    line-height: 32px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    padding: 12px 45px 12px 45px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
  }
  .button:hover {
    background: #05253C;
    color: #FFFFFF;
  }
  .image_conatiner {
    display: none;
  }
}
@media screen and (max-width: 590px) {
  .Logo {
    margin-top: 40px;
    margin-bottom: 27px;
  }
  .page_header {
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-family: "manrope";
    line-height: 28px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 25px;
  }
  .form_questions, .form_questions_different {
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 27px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
  }
  .form_inputs {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    width: 380px;
  }
  .error-message {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    color: #FF0000;
    margin-left: 380px;
  }
  .button {
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
    font-family: "Plus Jakarta Sans";
    line-height: 32px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    padding: 10px 35px 10px 35px;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
  }
}
@media screen and (max-width: 523px) {
  .page_header {
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    font-family: "manrope";
    line-height: 28px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    margin-bottom: 25px;
  }
  .form_inputs {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    width: 250px;
  }
  .error-message {
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: medium;
    font-family: "Plus Jakarta Sans";
    line-height: 24px;
    text-align: left;
    margin-left: 139px;
    color: #05253C;
    letter-spacing: 0px;
    opacity: 1;
    color: #FF0000;
    margin-left: 250px;
  }
}/*# sourceMappingURL=index.css.map */