$mycolor:#05253C;
$font-familyman: 'manrope';
$font-familyplus: 'Plus Jakarta Sans';
$logo-image:'../Images/logo.png';
$margin-left: 10%;
$myOpacity:1;
$label-bottom: 15px;
$placeholder-bottom: 35px;
$page-height: 768px;


/*----defining mixin for the images---------*/
@mixin image-properties($width, $height, $image-path){
    background: transparent url($image-path) 0% 0% no-repeat padding-box;
    width:$width;
    height:$height;
   
}

/*-----defining mixin for the headers and labels-----**/
@mixin text-properties($font-size, $font-weight, $font-family, $line-height) {
    font-size: $font-size;
    font-style: normal;
    font-variant: normal;
    font-weight: $font-weight;
    font-family: $font-family;
    line-height: $line-height;
    text-align: left;
    margin-left: $margin-left;
    color: $mycolor;
    letter-spacing: 0px;
    opacity: $myOpacity;
}

/*---defining mixin for the border properties-----*/
@mixin boarder-properties{
    border:none;
    border-bottom: 1px solid #EBEBEB;
    opacity: $myOpacity;
    width: 444px;
}

/*------styling the full page-------------*/
.page_container{
    top: 0px;
    left: 0px;
    width: 1366px;
    height: $page-height;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: $myOpacity;
    display:flex;
    flex-direction: row;
}

/*----styling the conatiner of the form----*/
.form_conatiner{
    width: 783px;
    height: $page-height;

}

/*-----styling the logo in the form_container----*/
.Logo {
    @include image-properties(76px, 76px , $logo-image);
    margin-top: 81px;
    margin-bottom: 31px;
    margin-left: $margin-left;
}

/*------styling the header of the page-----*/
.page_header{
    @include text-properties(40px, 200, $font-familyman, 52px);
   margin-bottom: 30px;
}


/*--------styling the labels------*/
.form_questions{
    @include text-properties(16px, medium, $font-familyplus, 28px);  
    margin-bottom:  $label-bottom; 
}

/*----styling the placeholders and the borders-----*/
.form_inputs{
    @include text-properties(12px, medium, $font-familyplus, 24px);
    @include boarder-properties;
    margin-bottom:$placeholder-bottom;

    &::placeholder {
        color: #DBDBDB; // Change the placeholder text color
    }
}

/*----styling email address and Address labels---*/
.form_questions_different{
    @extend .form_questions;
    $label-bottom: 18px;
    margin-bottom: $label-bottom;    
}

/*---styling the submit button----*/
.button{
    @include text-properties(16px, 600, $font-familyplus, 32px);
    background: #FFDC47 0% 0% no-repeat padding-box;
    padding:12px 56px 12px 56px ;
    margin-top: 20px;
    margin-bottom: 80px;
    border:none;
}

/*----styling the conatiner of the image---*/
.image_conatiner{
    width: 583px;
    height:$page-height;
}

/*----styling the page image----*/
.page_img{
    @include image-properties(583px, 768px , '../Images/jordan.png');
    background-size: cover;
}
